numpy<1.12 ; python_version >= '3.2' and python_version < '3.4' # numpy starting from 1.12 doesn't support python 3.2 and 3.3
numpy ; python_version < '3.0' or python_version >= '3.4' # newest numpy for python 2.7, 3.4 and higher
# scipy 0.18, release on 07.2016 doesn't work well with Python 3.3
scipy<0.18 ; python_version >= '3.2' and python_version < '3.4' # py 3.2 and 3.3
scipy ; python_version < '3.0' or python_version >= '3.4'  # py different than 3.2 and 3.3
matplotlib
pandas