beprof
# numpy 1.11.1, released in 06.2018 doesn't work well with Python 3.3
numpy==1.10.4 ; python_version >= '3.3' and python_version < '3.4' # py 3.3
numpy>=1.10.4 ; python_version < '3.3' or python_version >= '3.4'  # py different than 3.3
# scipy 0.18, release on 07.2018 doesn't work well with Python 3.3
scipy<0.18 ; python_version >= '3.3' and python_version < '3.4' # py 3.3
scipy>=0.18 ; python_version < '3.3' or python_version >= '3.4'  # py different than 3.3
